@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  padding-top: 5px;
  font-family: "Montserrat", sans-serif;
}

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog-title {
  color: white;
  font-size: 27.43px;
  font-style: italic;
  font-weight: 800;
  line-height: 50.57px;
  word-wrap: break-word;
  background: #111111;
  padding: 10px;
}

.navbar {
  display: flex;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50.57px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black;
  width: 5%;
}

.blog-main {
  width: 100%;
  color: black;
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 60px;
  word-wrap: break-word;
  padding-left: 20px;
  padding-top: 30px;
}

.blog-desc {
  color: #111111;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
  padding-left: 20px;
}

#myButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  height: auto;
}

#blackBox {
  width: 256px;
  height: 64px;
  position: absolute;
  left: 20px;
  top: 40px;
  background: #111111;
}

#label {
  width: 350px;
  height: 73px;
  position: absolute;
  left: -27px;
  top: 57px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

#newPostHeader {
  color: #111111;
  height: auto;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 40px;
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
}
