@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  padding-top: 5px;
  font-family: "Montserrat", sans-serif;
}

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog-title {
  color: white;
  font-size: 27.43px;
  font-style: italic;
  font-weight: 800;
  line-height: 50.57px;
  word-wrap: break-word;
  background: #111111;
  padding: 10px;
}

#boxContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 40px;
}

.navbar {
  display: flex;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50.57px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black;
  width: 5%;
}

.blog-main {
  width: 100%;
  color: black;
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 60px;
  word-wrap: break-word;
  padding-left: 20px;
  padding-top: 30px;
}

.blog-desc {
  color: #111111;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
  padding-left: 20px;
}

#myButton {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  height: auto;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
}

#blackBox {
  width: 256px;
  height: 64px;
  position: absolute;
  left: 20px;
  top: 40px;
  background: #111111;
  pointer-events: none;
}

#label {
  width: 350px;
  height: 73px;
  position: absolute;
  left: -27px;
  top: 57px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

#newPostHeader {
  color: #111111;
  height: auto;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 40px;
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
}

.box {
  width: 400px;
  height: 400px;
  opacity: 0.5;
  background: #c4c4c4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  margin-left: 20px;
}

.below-header {
  margin-top: 60px;
  text-align: center;
  color: #111111;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 40px;
  word-wrap: break-word;
}

#update-text {
  text-align: center;
  color: #111111;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
  margin-top: 20px;
}

button {
  display: block;
  width: 256px;
  height: 64px;
  margin: 20px auto;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #ffffff;
  border-color: #111111;
  border-width: 5px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

footer {
  height: 20%;
  background-color: #111111;
  color: white;
}

#footer-bg {
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-bottom: 10%;
}

#footer-about {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.6px;
  word-wrap: break-word;
}

#footer-about-me-link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.7px;
  word-wrap: break-word;
  cursor: pointer;
  text-decoration: none;
}

#footer-about-me-link:hover {
  text-decoration: none;
}
